.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
imojigraphics/build
imojigraphics/obj
/captures
imojisdk-ui-sample/.idea/workspace.xml
imojisdk-ui-sample/.idea/copyright/profiles_settings.xml
